#!/bin/bash

# This file is used to set environment variables for the frontend environment
# all the envs listed in .front.env will be replace the process.env values during the build process
# the values are REQUIRED to be in the .front.env: infisical won't inject them unless if
# i use the command before the build `pnpm cmd`
# pnpm dev won't work: it needs `infisical run - pnpm dev` if you want to set them in infisical

MAPBOX_PUBLIC_KEY='string'

NATOURS_STRIPE_TEST_PUBLIC='string'
