{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": true,
      "dynamicImport": true,
      "privateMethod": false,
      "topLevelAwait": true,
      "importMeta": true
    },
    "target": "es2022"
  },
  "minify": false,
  "env": {
    "mode": "usage",
    "coreJs": "3.26",
    "targets": "node"
  }
}
